<ion-content>
  <ion-icon [routerLink]="['/registrapp']" name="arrow-back-outline" style="font-size: 3.2rem; position: absolute;"></ion-icon>
  <div class="logo ion-text-center">
    <span>R</span>
    <span>e</span>
    <span>g</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
    <span>r</span>
    <span class="App">A</span>
    <span class="App">P</span>
    <span class="App">P</span>
  </div>


  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Generar Código Qr</h1>
      <p>Porfavor, seleccione un curso</p>
    </div>

    <div *ngFor="let curso of cursosArray">
      <ion-card *ngIf="curso.Docente == nombre" >
        <ion-card-header [routerLink]="['/scanqr']">
          <ion-item> 
            <ion-input style="text-align: center; font-size: 20px;" (ionFocus)="onFocusPlace($event)" value="{{ curso.Nombre + ' ' + curso.Seccion}}" ></ion-input>
          </ion-item>
        </ion-card-header>
      </ion-card>
    </div>
    
  </div>
</ion-content>
