ion-content{
  --background: linear-gradient(to bottom, #00265f, #2459bb, #0a1b37, #061e4e, #00001d);
}

.logo{
  margin-top: 75px;
  span{
    font-size: 4rem;
    font-weight: bolder;
  }
  .App{
    color: yellow;
  }
}

.login-section{
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  right: 0;
  left: 0;
  margin-top: 65px;
  border-top-right-radius: 46px;

  .heading{
    margin-top: 20px;
    h1{
      font-size: 1.6rem;
      font-weight: bolder;
    }
    p{
      margin-top: 20px;
      font-size: lrem;
      color: #7b7b7b  ;
    }
  }

}