<ion-content>
  <ion-icon [routerLink]="['/home']" name="arrow-back-outline" style="font-size: 3.2rem; position: absolute;"></ion-icon>
  <div class="logo ion-text-center">
    <span>R</span>
    <span>e</span>
    <span>g</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
    <span>r</span>
    <span class="App">A</span>
    <span class="App">P</span>
    <span class="App">P</span>
  </div>

  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Recuperación de Contraseña</h1>
      <p>Ingresa tú Email para restablecer la contraseña</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" placeholder="Correo electronico" [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button ion-padding">
      <ion-button size="large" class="login-button" (click)="enviarLinkReset()">Restablecer</ion-button>
    </div>
  </div>
</ion-content>
